body{
    border-top: $grey-light 1px solid;
}

hr{
    border-top: $grey-light 1px solid;
}

.wrapper{
    width: 920px;
    margin: auto;
}

.tag{
    background-color: $red;
    width: fit-content;
    padding: 6px;
    text-transform: uppercase;
    color: white;
    a{
        color: white;
        font-size: 11px;
        margin: 0;
    }
}

.social-icons a{
    margin: 0 20px;
    color: $grey;
}

.margin-nul{
    margin-top: 0 !important;
}

.bouton{
    font-weight: 400;
    font-size: 15px;
    border: 1px solid;
    padding: 15px 20px;
}